<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hero.recipespace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".RecipeSpaceApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeSpace"
        tools:targetApi="31">
        <activity
            android:name=".view.post.PostRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.recipe.EditRecipeActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".view.main.recipe.RatingDialogFragment"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".view.main.recipe.RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".view.photoview.PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.account.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.account.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_icon"-->
<!--            android:resource="@drawable/ic_launcher_foreground" />-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_icon"-->
<!--            android:resource="#50B6A7" />-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_channel_id"-->
<!--            android:value="fcm_default_channel" />-->
<!--        <service android:name=".data.message.service.MessageFCMService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>

</manifest>